


<div class="" style="margin-top: 20px;">
  <center>
    <a class="btn btn-warning btn-lg" href="/selfservice/default/pay_card?visit_id={{ model.id }}" role="modal-remote">
      {{ t('selfservice','Without tipping') }}
    </a>
    {{ btn | raw }}
  </center>
</div>


