
  <center><h1 style="color:#0455A8;padding-top: 60px;"><i class="icon-metro-info-2"></i></h1></center>
  <h4 style="text-align: center;font-weight: 600;color:#0455A8;">
    {{ t('selfservice','When you leave a tip, our administrators eat more nutricious and healthier meals') }}
  </h4>
  <h4 style="text-align: center; font-weight: 600;padding-top:20px;">{{ t('selfservice','Would you like to leave a tip ?') }}</h4>
