<div id="users_log" class="tile-group">
  <div class="tile-group-title2">
    {{ t('main','Admin session') }}
    <a href="/users/start" class="btn btn-success btn-sm pull-right" role="modal-remote">
      <i class="fa fa-play"></i>{{ t('app','Start admin session') }}
    </a>
  </div>
  <hr class="hrmin">
</div>