<div class="pull-right">
	<a href="/visits/view-unite" class="btn btn-success btn-sm log hidden __unite_calculation__">
		<i class="fa fa-calculator"></i> {{ t('main','Calculation marked') }}
	</a>
</div>