      <div>
      <a href="shop/storefront/index?visit_id={{ model.id }}" class="mintile bg-amber shop-open-link" data-click="transform">
          <span class="tile-content icon">
        <span class="icon-metro-cart"></span>
      </span>
        <span class="brand">
      <span class="tile-label">{{ t('main', 'Open shop') }}</span>
    </span>
      </a>
	  </div>
	  
	  
	  
	  