<button type="button" class="btn btn-info btn-sm __shop_merchant_toggle__">
	<span class="__state-disabled">
		<i class="glyphicon glyphicon-barcode"></i> {{ t('main','Open merchandising unit') }}
	</span>
	<span class="__state-enabled hidden">
		<i class="fa fa-close"></i> {{ t('main','Close merchandising unit') }}
	</span>
</button>