<script>
  setTimeout("$('{{ modalId }} .modal-header .close').click();", 500);
  if (typeof(updateMain) !== "undefined") {
    updateMain(false);
  }
</script>
<div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>