
.modal-footer {
  padding: 20px 20px 40px;
}

.start-screen-container {
  margin-top: 240px !important;
}

.bacer {
  font-size: 12px !important;
  line-height: 12px !important;
  display: block !important;
}

.gritter-white .gritter-item, .gritter-white .gritter-top, .gritter-white .gritter-bottom {
  background-color: #FFF;
  color: #656565;
}

.gritter-white {
  border: 1px solid #cccccc;
}

.gritter-white:hover {
  border: 1px solid #cccccc;
}

.gritter-white .gritter-close {
  color: #656565;
}

.gritter-task .gritter-item, .gritter-task .gritter-top, .gritter-task .gritter-bottom {
  background-color: #FFF;
  color: #656565;
}

.gritter-task .gritter-item p {
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

.gritter-task .gritter-title h6 {
  font-size: 26px !important;
  border-bottom: 1px solid #ccc !important;
  padding-bottom: 8px !important;
}

i.beller {
  -webkit-animation-name: icon-bell;
  animation-name: icon-bell;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}

/*?=icon-bell animation------------------- */
@-webkit-keyframes icon-bell {
  0% {
    -webkit-transform: rotate(-15deg);
  }
  10% {
    -webkit-transform: rotate(15deg);
  }
  20% {
    -webkit-transform: rotate(-18deg);
  }
  30% {
    -webkit-transform: rotate(18deg);
  }
  40% {
    -webkit-transform: rotate(-22deg);
  }
  50% {
    -webkit-transform: rotate(22deg);
  }
  60% {
    -webkit-transform: rotate(-18deg);
  }
  70% {
    -webkit-transform: rotate(18deg);
  }
  80% {
    -webkit-transform: rotate(-12deg);
  }
  90% {
    -webkit-transform: rotate(12deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes icon-bell {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  10% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  20% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  30% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  40% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  50% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  60% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  70% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  80% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  90% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.gritter-task .gritter-item, .gritter-task .gritter-top, .gritter-task .gritter-bottom {
  background-color: #FFF;
  color: #656565;
}

.gritter-task {
  border: 1px solid #cccccc;
}

.gritter-task .gritter-close {
  color: #8a8585;
  display: block !important;
  top: 0px;
  right: 10px;
}

.gritter-task .gritter-close:before {
  content: "\e089";
  font-family: IconFont;
  font-size: 24px;
  position: relative;
  outline: 0;
  left: 14px;
  top: 10px;
}

.gritter-task .gritter-close:after {
  display: block;
  text-align: center;
  content: 'snoozZZe';

}

a.but_no, a.but_yes {
  text-decoration: none !important;
  cursor: pointer !important;
}

a.but_yes.log:after {
  display: block;
  text-align: center;
  content: 'task completed';
  line-height: 12px;
  font-size: 12px;
}

a.but_no.log:after {
  display: block;
  text-align: center;
  content: 'task failed';
  line-height: 12px;
  font-size: 12px;
}

.gritter-green .gritter-item, .gritter-green .gritter-top, .gritter-green .gritter-bottom {
  background-color: #5EB84D;
  color: #fff;
}

.gritter-green {
  border: 2px solid #199900;
}

.gritter-green .gritter-close {
  color: #fff;
}

.gritter-title {
  padding: 0px;
}

.start-screen {
  overflow-x: hidden;
}

sup {
  color: red;
}

.min_text {
  font-size: 13px;
  margin: 2px 0px !important;
}

.center-color {
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.center {
  text-align: center;
}

.bg-regular {
  background-color: #1FAEFF !important;
  border-color: #1FAEFF;
  color: #fff !important;
}

.bg-visitor {
  background-color: #7bad18 !important;
  border-color: #7bad18;
  color: #fff !important;
}

.bg-group {
  background-color: #FF981D !important;
  border-color: #FF981D;
  color: #fff !important;
}

.bg-meetup {
  background-color: #FA6800 !important;
  border-color: #FA6800;
  color: #fff !important;
}

.bg-regular:hover, .bg-visitor:hover, .bg-group:hover, .bg-meetup:hover {
  opacity: 0.8;
}

.sticky {
  position: fixed;
  z-index: 101;
}

.stop {
  position: relative;
  z-index: 101;
}

.height_header {
  height: 30px;
}

.tile-group .tile-group-title2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  position: absolute;
  top: 10px;
  left: 0;
  color: inherit;
  width: 100%;
}

.hrmin {
  margin-top: 6px;
  margin-bottom: 6px;
}

#c_personal, #c_group, #c_meatup, #c_admin {
  padding-top: 34px;
}

.start-screen {
  overflow-y: auto;
}

.panel-heading {
  padding: 6px 15px;
}

.panel-body {
  padding: 10px;
}

span.discont {
  color: #00AFF0;
  font-weight: 600;
  font-size: 18px;
}

h6.discont {
  color: #00AFF0;
  font-weight: 600;
  display: inline;
}

.modal-header {
  padding: 15px 15px 0px 15px;
}

div#event_list {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  left: 100%;
  background: #FFFFFF;
  border-left: 1px solid #ccc;

}

div#shop_list {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  left: 100%;
  background: #FFFFFF;
  min-width: 600px;
  border-left: 1px solid #ccc;

}

@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icomoon.eot?34mnkt');
  src: url('../../fonts/icomoon.eot?34mnkt#iefix') format('embedded-opentype'),
  url('../../fonts/icomoon.ttf?34mnkt') format('truetype'),
  url('../../fonts/icomoon.woff?34mnkt') format('woff'),
  url('../../fonts/icomoon.svg?34mnkt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checklist:before {
  content: "\e900";
}

.task_list {
  position: fixed;
  bottom: 60px;
  padding-top: 5px;
  right: 0px;
  border: 2px solid #fff;
  border-right: none;
  cursor: pointer;
  background: #05389e;
  text-decoration: none !important;
}

.icon.icon-checklist {
  color: #fff;
  margin: 10px;
  padding: 10px;
  line-height: 60px;
  font-size: 50px;
}

.txt_task {
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.text-white {
  color: #fff;
}

.level {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

.level span {
  border-radius: 0;
  border: 1px solid #b6b6b6;
  background-color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-size: 12px;
  padding: 3px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.level span {
  font-size: 28px;
  padding: 0px;
  width: 28px;
  height: 28px;
  line-height: 25px;
  padding-left: 2px;
  border: 1px solid #ccc;
}

.upper_text {
  text-decoration: line-through;
}

.bef_time {
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  color: #6b6464;
  border-top: 1px solid #eee;
}

.level span.text-success {
  color: #68AF36 !important;
}

.level span.text-danger {
  color: #FF2328 !important;
}

.table.table-responsive.list_task > tbody > tr > td {
  vertical-align: middle !important
}
